 /*Smallest*/
 :root {
  --blue: #4169e1;
  --pink: #c9b1bd;
}

  body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-size:small;
    position: relative;
  }
  
  #banner{
    display: none;
    top: 2px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.7);
    font-size: large;
    border-radius: 10px;
    border: solid;
    grid-column: 1/4;
    font-size: small;
  }

  #banner h3{
    margin: 0.1em;
    padding: 0.25em;
    padding-right: 1.5em;
  }

  #banner.display{
    display: block;
  }

  .display button{
    position: absolute;
    top: 22px;
    right: 15px;
    margin-right: 1em;
    color: red;
    font-size: small;
  }

  header{
    display: grid;
    grid-template-columns: 90px auto auto;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
  }

  header, footer {
    background-color: var(--blue);
    padding: 1em;
    margin: 0;
    color: white;
    text-shadow: 0 0 2px black;
    font-family: 'Roboto Mono', Courier, monospace;
  }

  #header_text{
    margin: 0.5em;
    align-self: center;
  }

  #socials{
    align-self: center;
    text-align: right;
  }

  #socials a{
    text-decoration: none;
    color: white;
    margin: 0.5em 0;
  }

  #socials img{
    width: 24px;
    height: auto;
  }

  header h1, header h2{
    margin: 0;
    font-size: medium;
  }

  h1, h2, h3, h4 {
    font-family: 'Roboto Mono', Courier, monospace;
    margin: 0.5em;
  }

  h3 {
    margin: 0.5em;
  }

  nav {
    text-align: center;
    margin-top: 1em;
    grid-column: 1 / 4;
    background-color: var(--pink);
  }

  nav button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: left;
    width: 100%;
  }

  nav button:hover{
    background-color: rgb(0, 0, 0, 0.2);
  }

  #hamburger-btn span:nth-child(1){
    display: block;
  }
  #hamburger-btn span:nth-child(2){
    display: none;
  }
  #hamburger-btn.open span:nth-child(1){
    display: none;
  }
  #hamburger-btn.open span:nth-child(2){
    display: block;
  }

  nav ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav ul.open{
    display: block;
  }

  nav ul li a {
    color: white;
    padding: 0.5em;
    margin: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: large;
    color: black;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    text-shadow: 0 0 5px white;
  }

  nav ul li a:hover {
    background-color: rgb(0, 0, 0, 0.1);
  }

  #current{
    background-color: rgb(0, 0, 0, 0.2);
  }

  main {
    padding: 1em;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    position: relative;
  }

  section {
    background-color:#ddd;
    border: solid #999 1px;
    margin: 0.25em 0.5em;
    padding: 0.5em 0.5em;
  }

  #hero{
    position: relative;
    background-size: cover;
    /*I would prefer to do it this way*/
    /* background-image: url(../images/sunset.jpg);
    background-position: center; */
  }

  .hero-title{
    position: absolute;
    top: 1em;
  }

  .call-to-action{
    position: absolute;
    top: 50px;
    right: 50px;
    border: solid;
    padding: 0;
    border-radius: 5px;
    background-color: var(--pink);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);
    display: flex;
  }

  .call-to-action a{
    padding: 1em 2em;
    text-decoration: none;
    color: black;
  }

  .call-to-action a:hover{
    background-color: rgb(0, 0, 0, 0.2);
  }

  #hero img{
    width: 100%;
    height: auto;
  }

  #join{
    display: none;
  }

  #weather{
    text-align: center;
  }

  #weather img{
    height: 125px;
    width: auto;
  }

  #spotlights{
    display: grid;
    grid-template-rows: auto auto;
  }

  #spotlights section{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);
  }

  #spotlights section img{
    width: 150px;
    height: auto;
    margin: auto;
  }

  #spotlights section a{
    display: block;
    padding: 0.75em;
  }

  #spot0, #spot3{
    display: none;
  }

  #discover-images{
    text-align: center;
  }
  
  #discover-images section{
    border: none;
    padding: 0;
    margin: 0;
  }
  
  #discover-images img{
    max-width: 90%;
    height: auto;
    margin: 0 1em;
  }

  #discover-images li{
    list-style: none;
  }

  #stats{
    font-size: large;
  }

  #stats li{
    padding: 0.5em;
  }

  #visit-info{
    grid-row: -2 / -1;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  form fieldset{
    margin: 2em 0;
    border: 1px solid black;
    padding: 0.5em;
    
  }

  form legend{
    margin: 0 1em;
    padding: 0 0.5em;
  }

  label{
    display: block;
  }

  #form-info label{
    padding-top: 1em;
  }

  #form-info input{
    padding: 0.75em;
    width: 88%;
    display: block;
  }

  #mlevel label{
    padding: 0.75em;
  }

  #mlevel input{
    margin-right: 0.5em;
    vertical-align: top;
  }

  form input{
    border-width: 1px;
    border-style: inset;
    border-color: rgb(155, 155, 155);
    border-left: rgb(155, 155, 155) solid 4px;
  }

  form input:required{
    border-left: red solid 4px;
  }

  form input:required:valid{
    border-left: green solid 4px;
  }

  #description{
    width: 90%;
    height: 120px;
  }

  #submit{
    padding: 0.75em;
    border-radius: 3px;
    border: 1px solid black;
  }

  .logo {
    width: 90px;
    height: auto;
  }

  footer {
    text-align: center;
    padding: 0.5em;
    position: relative;
  }

  footer h1{
    margin: 0;
    font-size:larger;
  }

  footer h2{
    margin: 0.5em 0 ;
    font-size:larger;
  }

  footer p {
    margin: 0.25em;
  }

  footer a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.75em;
  }
