/*Smallest*/
:root {
    /* --bgColor: rgb(245, 245, 220); */
    /* --headerFooterColor: rgb(201, 177, 189); */
    --bgColor: rgb(255, 255, 255);
    --headerFooterColor: rgb(243, 157, 157);
}

html{
    scroll-behavior: smooth;
    min-width: 320px;
}

body {
    background-color: var(--bgColor);
}

main{
    display: grid;
}

footer p {
    margin: 1em;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto 120px;
}

header,
footer {
    background-color: var(--headerFooterColor);
    padding: 0.5em;
}

header h1{
    margin: 0;
    margin-left: 0.25em;
    margin-top: 0.25em;
}

header div{
    display: flex;
    align-items:flex-start;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: right;
    padding: 0;
    width: 100%;

    border-top: solid var(--headerFooterColor) 1px;
    border-bottom: solid var(--headerFooterColor) 1px;
}

#hamburger-btn span:nth-child(1),
#hamburger-btn.open span:nth-child(2) {
    display: block;
}

#hamburger-btn span:nth-child(2),
#hamburger-btn.open span:nth-child(1) {
    display: none;
}

nav ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.open {
    display: block;
}

nav ul li a {
    padding: 0.5em;
    display: block;
    font-size: large;
    color: black;
    text-decoration: none;
    border-top: solid var(--headerFooterColor) 1px;
    border-bottom: solid var(--headerFooterColor) 1px;
    text-align: right;
    background-color: rgb(0, 0, 0, 0.1);
}

nav a:hover,
nav button:hover,
#current {
    background-color: rgb(0, 0, 0, 0.1);
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

header img{
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

header img:hover{
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

section {
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
}

.button{
    text-decoration: none;
    color: black;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5em;
}

.button:hover{
    background-color: rgb(0, 0, 0, 0.2);
}

h1 a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 0.1em;
}

h1 a:hover{
    background-color: rgb(0, 0, 0, 0.1);
}

form fieldset {
    margin: 1em 0;
    border: 1px solid black;
    padding: 0.5em;
    width: auto;
}

label {
    display: block;
}

#form-info label {
    padding-top: 1em;
}

#form-info input {
    padding: 0.75em;
    margin: 0.5em;
    /* width: 88%; */
    display: block;
}

form select,
select option{
    padding: 0.75em;
    margin: 0.5em;
}

form input,
form select{
    border-width: 1px;
    border-style: inset;
    border-color: rgb(155, 155, 155);
    border-left: rgb(155, 155, 155) solid 4px;
}

form input:invalid,
form select:invalid {
    border-left: red solid 4px;
}

form input:required:valid,
form input.pattern:valid,
form select:valid {
    border-left: green solid 4px;
}

#special-instructions {
    width: 90%;
    height: 120px;
}

#submit {
    padding: 0.75em;
    border-radius: 3px;
    border: 1px solid black;
}

.hidden{
    display: none;
}

table {
    border-collapse: collapse;
    background-color: rgb(253, 242, 242);
}

td, th {
    border: 2px solid rgb(100, 100, 100);
    padding: 0.5em;
    text-align: center;
}

caption{
    padding: 0.5em;
    font-size: large;
    font-weight: bold;
}

#about-us{
    grid-row: 1/2;;
}

#map h2{
    display: none;
}

iframe{
    width: 100%;
    height: 100%;
    min-height: 425px;
}