@media (min-width: 1200px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #area-info{
        grid-column: 2/4;
        grid-row: 1/3;
    }
    
    #weather{
        grid-column: 1/2;
    }

    #about-us{
        grid-column: 2/4;
    }
}