  body {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
  }

  .header-grid{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: auto;
    background-color: royalblue;
    padding: 1em;
    border-radius: 25px;
    text-shadow: 2px 2px 10px #000000;
    color: white;
    text-align: center;
  }

  .head-image{
    grid-column: 1 / 2;
    width: 150px;
    border-radius: 25px;
  }

  .header-name{
    grid-column: 2 / 4;
    padding: 1em 1em 1em 0;
  }

  footer{
    text-align: center;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
    padding: 1px;
    box-shadow: 0 0 10px #000000;
  }

  .updated{
    font-size: small;
    color:beige;
  }